<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/personInfo.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../js/person.js"></script>
    <script src="../js/public_function.js"></script>

    <base href="/">

</head>
<body>
<input type="hidden" id="username" value="">
<script>
    document.getElementById("usernameLabel").innerText=getContent("username");
</script>
    <div class="person-Info">
        <div class="person-Info-top">
<!--            当前位置-->
            <div class="person-Info-top-location">
                <span>基本设置</span>
                <span>></span>
                <span>个人信息</span>
            </div>

        </div>
        <div class="person-Info-center">
            <div>
                <table>

                    <tr>
                        <td><label>用户名：</label></td>
                        <td><span id="usernameLabel"></span></td>
                    </tr>
                    <tr>
                        <td><label>密码：</label></td>
                        <td><input type="password" value="" placeholder="请输入旧密码" id="prePassword"></td>
                    </tr>
                    <tr>
                        <td><label>新密码：</label></td>
                        <td><input type="password" value="" placeholder="请输入新密码" id="newPassword"></td>
                    </tr>
                    <tr>
                        <td><label>确认新密码：</label></td>
                        <td><input type="password" value="" placeholder="再次输入新密码" id="secondNewPassword"></td>
                    </tr>
                </table>
            </div>
            <div class="person-Info-center-button">
                <button type="button" class="layui-btn" onclick="updatePassword()">修改</button>
                <button type="button" class="layui-btn">取消</button>
            </div>
        </div>
    </div>
</body>
</html>